@charset "UTF-8";
html,body{
	height: 100%
}
*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.container{
	width: 100%;
	height:100%;
	max-width:640px;
	min-width: 320px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
	padding-top: 45px;
	padding-bottom: 55px;

}
.lt_search {
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  position: relative;
}


.lt_search input {
  width: 100%;
  height: 34px;
  border: 1px solid #007aff;
  font-size: 12px;
  border-radius: 5px;
  margin: 0;
}

.lt_search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
.lt_header{
	width: 100%;
	max-width: 640px;
	height: 45px;
	background-color: red;
	position: fixed;
	top: 0;
	z-index: 999;
}
.lt_header_l,
.lt_header_r{
	width: 45px;
	height: 45px;
	line-height: 45px;
	position: absolute;
	text-align: center;
	top: 0;
	color:#fff;
}
.lt_header_l{
	left:0;
}
.lt_header_r{
	right:0;
}
.lt_header h4 {
  width: 100%;
  height: 45px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin: 0;
}
.lt_content{
	height: 100%;
	width: 100%;
	background-color: #fff;
}
.lt_footer{
	width:100%;
	max-width: 640px;
	height: 50px;
	background-color:red;
	position: fixed;
	bottom:0;
	/*left: 0;*/
	z-index: 999;
}
.lt_footer ul li{
	float: left;
	width: 25%;
	margin: 0 auto;
	text-align: center;
	color:#fff;
}
.lt_footer a {
  color: #fff;
}

.lt_footer p {
  color: #fff;
  margin-bottom: 0;
  font-size: 12px;
}
.lt_footer ul li.now a{
 color: darkorange
}
.lt_footer ul li.now p{
	color: darkorange
}
