@charset "UTF-8";
html,body{
    height: 100%;
}
a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}
.lt_main .table td {
    text-align: center;
    vertical-align: middle;
}


.mt150 {
    margin-top: 150px;
}

.lt_panel h4 {
    text-align: center;
}
.lt_aside{
    height: 100%;
    width: 180px;
    background-color: #222d32;
    position: absolute;
    left: 0;
    transition: all 1s;
}
.lt_aside.now{
    left:-180px;
}
.lt_aside .brand{
text-align: center;
    background-color:#337ab7;
}
.lt_aside .brand a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.lt_aside .user{
    height:150px;
}
.lt_aside .user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 30px auto 0;
    display: block;
}
.lt_aside .user p{
    color:#fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
/*.lt_aside .nav li{*/
    /*float: left;*/
/*}*/
.lt_aside .nav a{
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    height: 40px;
    line-height: 40px;
    color:#ccc;
    padding-left: 30px;
    border: 3px solid transparent;
}
.lt_aside .nav a.now {
    background-color: #1d1f21;
    border-left-color: #367fa9;
    color: #fff;
}
.lt_aside .nav .child{
    margin-left: 20px;
}
.lt_main {
    padding-left: 180px;
    transition: all 1s;
}

.lt_main.now {
    padding-left: 0;
}

.lt_main .lt_header{
    /*margin-left:180px;*/
    height: 50px;
    line-height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px;
    /*color: #fff;*/
    margin-bottom: 20px;
}

.lt_header a {
    color: #fff;
    font-size: 16px;
}
.lt_content .pic_left,
.lt_content .pic_right{
    width: 45%;
    height: 400px;
}
